$color-text: #fff;
$color-offwhite: rgb(246, 238, 238);
$color-h1: #25339d;
$color-bluedark: #071594;
$color-black: #000;
$color-grey: #777;
$color-background:#050e19;
$color-light-grey: rgb(190, 187, 187);
$color-btn: #000000;