.chart {
    height: 60vh;
    background-color: $color-h1;

    color: $color-text;

//    background-size: cover;
//    background-position: center;
//   clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
}
